<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="home"> <!--<![endif]-->
<head>
  <title>Harry&#8217;s &ndash; Tell Friends, Shave for Free</title>
  <link rel="icon" href="/assets/favicon-96636bffc90b6c277bdfd030a4a3bae54dead08f79fb4b102af1c61598b16f72.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/assets/favicon-96636bffc90b6c277bdfd030a4a3bae54dead08f79fb4b102af1c61598b16f72.ico" type="image/x-icon">

  <meta property="og:title" content="Harry’s is coming!"/>
  <meta property="og:description" content="Shaving is evolving. Didn’t want to leave you all behind. Check out Harry’s here."/>
  <meta property="og:image" content="/assets/refer/truman-db2725fc4469d4ecb1d78a4ca3cc822f06e73fa77abc0bb7cdc8e3b40640446b.png"/>
  <meta property="og:url" content="http://localhost:3000/"/>
  <link rel="stylesheet" media="all" href="index_style.css"/>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="MLa29S10yDfPFgdhcSNlMNKJl3TNb8DGz6cNKVQYvEvhtLnaFkHlQFrDlGsCYyS1jgR663Sz0ilT0O6Vaw21Og==" />
</head>
<body id="home">

    <div class="hero">
      <p class="large brandon">Hola Mundo!</p>
      <p class="small brandon">This is going to be a landing page to launch a new product 🚀</p>
    </div>

    <div class="form-wrap clearfix ">
          <div class="key"></div>
      <p class="byline brandon">Be the first to know</p>
      <form class="new_user" id="new_user" action="/Users/javi/Desktop/JS/Referal_project/users/refer.html" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="authenticity_token" value="G8bCRxjmUr42ZPua6QCjy/pZTfv1WAbYOH9+Ivw1yubKxM1oI9N/yaOxaJCaQOJOptSgZEyEFDekCJ2ewyDDlw==" />
        <input placeholder="Enter Email" class="email brandon" type="text" name="user[email]" id="user_email" />
        <input class="submit brandon" name="commit" type="submit" value="Step Inside" id="referal_landing"/>
      </form>
    </div>

  </body>
  <script src="style.js"></script>
</html>
